<h1>User details</h1>

<ul>
	<li>
		Name:
		<%= @user.name %>
	</li>
	<li>
		email:
		<%= @user.email %>
	</li>
	
		<%= form_with(model: @user, local: true) do |f| %>
			<%= f.label :mind, "mind" %>
			<%= f.select :mind, [["Positive", "positive"], ["Negative", "negative"]] %>
			<%= f.submit "update" %>
		<% end %>
	<li>
		Post index:
		<% @posts.each do |post| %>
		<%= link_to post.content, post_path %>
		<% end %>
	</li>
	
	<% if @user.id == current_user.id %>
	
	<%= link_to "edit", edit_user_path %>
	<%= link_to "Delete your account", @user, method: :delete, data: { confirm: "You sure? "} %>
	
	<% end %>
</ul>