<h1>User details</h1>

<ul>
	<li>
		<p>Name</p>
		<%= @user.name %>
	</li>
	<li>
		<p>email</p>
		<%= @user.email %>
	</li>
	<li>
		<p>mind</p>
		<%= @user.mind %>
	</li>
	<% if @user.id == current_user.id %>
	
	<%= link_to "edit", edit_user_path %>
	<%= link_to "Delete your account", @user, method: :delete, data: { confirm: "You sure? "} %>
	
	<% end %>
</ul>