<h1>Post index</h1>

<ul>
	<%= link_to "Positive_Action × Positive_Mind", pospos_posts_path %>
</ul>
<ul>
	<%= link_to "Positive_Action × Negative_Mind", posneg_posts_path %>
</ul>
<ul>
	<%= link_to "Negative_Action × Positive_Mind", negpos_posts_path %>
</ul>
<ul>
	<%= link_to "Negative_Action × Negative_Mind", negneg_posts_path %>
</ul>

<%= link_to "Active post now!",new_post_path %>